:root{
    --cor0: #DDDCE1;
    --cor1: #AFACBB;
    --cor2: #8A859E;
    --cor3: #676081;
    --cor4: #4D4669;
    --cor5: #322D4A;

    --fonte-padrao:'Nunito', sans-serif;
    --fonte-destaque: 'candara';
 }
 *{
   margin: 0px; 
   padding: 0px;
}
body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}
header{
   background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
   min-height: 150px;
   text-align: center;
   padding-top: 25px;
  }
  header > h1{
     color: white;
     font-family: var(--fonte-destaque);
     font-size: 3em;
     font-weight: normal;
     margin-bottom: 20px;
     
  }
  header > p{
     color: white;
     font-family: var(--fonte-padrao);
     font-size: 1.2em;
     max-width: 600px;
     margin: auto;
     margin-bottom: 20px;
     padding-left: 10px;
     padding-right: 10px;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.192);
  }
  nav{
  background-color: var(--cor5);
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
nav > a{
  color: var(--cor0);
  padding: 10px;
  text-decoration: none ;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: .5s;
}
nav > a:hover{
  background-color: var(--cor3);
  color: var(--cor5);
  font-weight: bold;
}
 main{
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
   min-width: 300px;
   max-width: 1000px;
   background-color: white;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
   border-radius: 10px;
 }
 main h1, main h2{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: 1.6em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
    padding: 3px;
    font-weight: normal;
   }
   #alimentacao .fofo{
      float: left;
      margin: -10px 30px 20px 0px;
   }
.pianista{
   width: 90%;
   height: 400px;
   align-items: center;
}
main p{
    margin: 10px 0px;
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
    font-size: 1em;
   }
main strong{
     color: var(--cor4);
     font-weight: bold;
     padding: 2px 6px;
   }
 main a {
     text-decoration: none;
     font-weight: bold;
     color: var(--cor4);
     background-color: var(--cor0);
     padding: 2px 6px;
   }
main a:hover{
     text-decoration: underline;
     color: var(--cor4);
   }
   div.video{
      background-color: var(--cor5);
      margin: 0px 0px 30px 0px;
      padding: 20px;
      padding-bottom: 50%;
      position: relative;
   }
   div.video > iframe{
      position: absolute;
      top: 3%;
      bottom: 3%;
      left: 3%;
      right: 3%;
      width: 90%;
      height: 90%;
      margin: auto;
   }
aside{
   background-color: var(--cor1);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 3px 4px 10px #4d4669be;
}
aside h3{
   background-color: var(--cor4);
   color: #eeebf8;
   padding: 10px;
   margin: -10px -10px 0px -10px;
   border-radius: 10px 10px 0px 0px;
}
aside > ul{
   list-style-type: '\01F49C\00A0\00A0' ;
   list-style-position: inside;
   columns: 2;

}
footer{
      background-color: var(--cor5);
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding: 8px;
 }
 footer a{
   color: var(--cor0);
   font-weight: bold;
   text-decoration: none;
 }
 footer a:hover{
   text-decoration: underline;
   color: var(--cor1);
 }